<script src="/public/js/require.js"></script>

<script>
	// 配置
	require.config({
		baseUrl: '/public',
		paths: {
			jquery: 'assets/jquery/jquery.min',
			echarts: 'assets/echarts/echarts.min',
			form: 'assets/jquery-form/jquery.form',
			cookie: 'assets/jquery-cookie/jquery.cookie',
			template: 'assets/artTemplate/template',
			bootstrap: 'assets/bootstrap/js/bootstrap.min'
		},
		// 非模块化
		shim: {
			bootstrap: {
				// 依赖插件
				deps: ['jquery']
			}
		}
	});
	// 全局加载
	require(['src/common', 'bootstrap']);
</script>

